*,
*::before,
*::after {
	box-sizing: border-box;
}
#site :first-child {
	margin-top: 0 !important;
}
#site :last-child {
	margin-bottom: 0 !important;
}

html {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	background: #fafaff;
}

a:not(:hover) {
	text-decoration: none;
}
button {
	font: inherit;
	padding: 0.5em 0.75em;

	border: none;
	color: white;
	background: #1f1f6b;
	border-radius: 0.5em;
}
button:not(:disabled):hover,
button:not(:disabled):focus-visible {
	background: #4949af;
}
button:focus {
	outline: 0.2em solid #0003;
}
button:disabled {
	background: #c4c4c4;
}

:disabled {
	cursor: not-allowed;
}

form > * {
	margin: 1rem 0;
}
form .same-line {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
form button[type='submit'] {
	display: block;
	margin: auto;
}

a {
	color: #9b7ad7;
}

#site {
	margin: 4.5rem auto;
	max-width: 60rem;

	display: grid;
	grid-template-columns: 12rem 1fr;
	gap: 0 1rem;
}

header,
footer {
	text-align: right;
	grid-column: span 2;
}

header,
footer {
	padding: 0.75rem 0;
}

main,
.site-nav {
	border-radius: 1rem;
	border: 0.1rem solid #dcdcff;
	overflow: hidden;
}

main {
	background: #fff;
	padding: 1.5rem;

	min-height: 60vh;
}

main > div,
main > form,
main > section {
	margin: 1rem 0;
}

.site-nav {
	background: #f2f2ff;
	align-self: start;
}
.site-nav hr {
	border: none;
	height: 1px;
	background: #dcdcff;
	margin: 0;
}
.site-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.site-nav ul:first-child {
	border-bottom: 1px solid #dcdcff;
}
.site-nav ul:last-child {
	border-top: 1px solid #dcdcff;
}
.site-nav a {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	text-decoration: none;

	color: inherit;
}
.site-nav li a::before {
	margin-right: 0.5ch;
}
.site-nav li a[data-icon]::before {
	content: attr(data-icon);
}
.site-nav li a:not([data-icon])::before {
	content: 'âŒ';
	visibility: hidden;
}
.site-nav ul:first-child li:first-of-type a {
	border-top-left-radius: 1rem;
}
.site-nav ul:last-child li:last-of-type a {
	border-bottom-left-radius: 1rem;
}
.site-nav a[aria-current='true'] {
	background: #dcdcff;
}
.site-nav a:not([aria-current='true']):hover,
.site-nav a:not([aria-current='true']):focus-visible {
	background: #fff;
}

.grid-list {
	padding: 0;
	list-style: none;

	display: grid;
	gap: 1rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.grid-list li {
	aspect-ratio: 1 / 1;
}
.grid-list a {
	width: 100%;
	height: 100%;
	padding: 4px;

	display: grid;
	place-content: center;

	border: 1px dashed #dcdcff;
	background: #fcfcff;
	color: inherit;
	text-align: center;
	text-decoration: none;
}
.grid-list a:hover,
.grid-list a:focus-visible {
	border: 1px solid #bcbdf5;
	background: #dcdcff;
}

label {
	margin: 0.2em 0;
	display: block;
}

input[type='number'],
input[type='text'] {
	font: inherit;
	padding: 0.5em;
	border: 1px solid #bcbdf5;
	border-radius: 0.5em;
}

select {
	font: inherit;
	background: #fff;
	padding: 0.25em 0.5em;
	border: 1px solid #bcbdf5;
	border-radius: 0.5em;
}

#answer > * {
	margin: 1rem 0;
	padding: 1rem;
}

#output {
	position: relative;
	padding: 1rem;

	border: 1px dashed #dcdcff;
	background: #fcfcff;
}
#output h2 {
	font-size: 1rem;
	position: absolute;
	left: 0.5rem;
	top: 0;
	transform: translateY(-50%);

	padding: 0 0.5em;
	border-left: 1px solid #dcdcff;
	border-right: 1px solid #dcdcff;
	background: #fcfcff;
}

table {
	width: 100%;
	border-collapse: collapse;
}
table tr:nth-child(odd) td {
	background: #fafaff;
}
table th,
table td {
	padding: 0.5em;
}
table th {
	text-align: left;
	background: #dcdcff;
}

.button-zone {
	margin: 1rem auto;
	padding: 1rem;

	max-width: -moz-fit-content;
	max-width: fit-content;
}
.warning {
	position: relative;
	padding: 0.75rem;
	margin-top: 0.75rem;

	color: #fe0000;
	border: 1px solid;
	background: #ffe5e5;
}
ul.warning {
	padding-left: 1.5em;
}
.warning::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);

	width: 1px;
	border-width: 0.5rem;
	border-style: solid;
	border-color: transparent transparent #fe0000;
}

@media (max-width: 48rem) {
	#site {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 3rem 4px;
	}
	header,
	footer {
		padding: 0.5rem;
		text-align: center;
	}
	.site-nav,
	main {
		border-radius: 1rem;
		border: 0.1rem solid #dcdcff;
	}
	.site-nav a {
		padding-left: 2rem;
	}
	.site-nav {
		align-self: unset;
	}
}
